---
layout: home
author_profile: true
<!-- caption: "Photo credit: [**Marius Masalar**](https://unsplash.com)"
"I'm passionate about making the next person's job easier and I happen to be proficient in building ETL pipelines, web scrapping, stream and batch processing." -->
feature_row:
  - image_path: images/space.jpg
    image_caption: "Image courtesy: [Unsplash](https://unsplash.com/)"
    alt: "etl img"
    title: "End to End ETL Pipeline"
    excerpt: "This project completed a basic end to end ETL pipeline for a basic data processing task tools using **pyspark** and **postgresql**", [view on github](https://github.com/cliffordEmmanuel/BlossomAcademy_DataEngineering/tree/master/project3)
  - image_path: images/passion.jpg
    image_caption: "Image courtesy: [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Batch Processing"
    excerpt: "This project used batch processing for basic text mining job. Tools used were **pyspark** and **aws s3**", [view on github](https://github.com/cliffordEmmanuel/BlossomAcademy_DataEngineering/tree/master/project2)
  - image_path: images/puzzle.jpg
    image_caption: "Image courtesy: [Unsplash](https://unsplash.com/)"
    title: "Web Scrapping"
    excerpt: "Using the beautifulsoup and requests python libraries real estate data was scrapped from the [meqasa](https://www.meqasa.com)", [view on github](https://github.com/cliffordEmmanuel/BlossomAcademy_DataEngineering/tree/master/project4)
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

