---
title: "Clifford's Portfolio"
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: images/cover_photo.jpg
  actions:
    - label: ""
      icon: "fas fa-fw fa-envelope-square"
      url: mailto:your.cliffemmanuels@gmail.com
    - label: ""
      icon: "fab fa-fw fa-github"
      url: "https://github.com/cliffordEmmanuel"
    - label: ""
      icon: "fab fa-linkedin-in"
      url: "https://www.linkedin.com/in/cliffordemmanuelakai-nettey/"
  caption: "Photo credit: [**Marius Masalar**](https://unsplash.com)"
excerpt: "I'm passionate about making the next person's job easier and I happen to be proficient in building ETL pipelines, web scrapping, stream and batch processing."
<!-- intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`' -->
feature_row:
  - image_path: images/
    image_caption: "Image courtesy: [Unsplash](https://unsplash.com/)"
    alt: "etl img"
    title: "End to End ETL Pipeline"
    excerpt: "This project completed a basic end to end ETL pipeline for a basic data processing task tools using **pyspark** and **postgresql**", [view on github](https://github.com/cliffordEmmanuel/BlossomAcademy_DataEngineering/tree/master/project3)
  - image_path: images/
    image_caption: "Image courtesy: [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Batch Processing"
    excerpt: "This project used batch processing for basic text mining job. Tools used were **pyspark** and **aws s3**", [view on github](https://github.com/cliffordEmmanuel/BlossomAcademy_DataEngineering/tree/master/project2)
  - image_path: images/
    image_caption: "Image courtesy: [Unsplash](https://unsplash.com/)"
    title: "Web Scrapping"
    excerpt: "Using the beautifulsoup and requests python libraries real estate data was scrapped from the [meqasa](https://www.meqasa.com)", [view on github](https://github.com/cliffordEmmanuel/BlossomAcademy_DataEngineering/tree/master/project4)
---

<!-- {% include feature_row id="intro" type="center" %} -->

{% include feature_row %}

