---
title: "Splash Page"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: images/space.jpg
  actions:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: mailto:your.cliffemmanuels@gmail.com
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/cliffordEmmanuel"
    - label: "LinkedIn"
      icon: "fab fa-linkedin-in"
      url: "https://www.linkedin.com/in/cliffordemmanuelakai-nettey/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Bacon ipsum dolor sit amet salami ham hock ham, hamburger corned beef short ribs kielbasa biltong t-bone drumstick tri-tip tail sirloin pork chop."
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
feature_row:
  - image_path: images/passion.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "etl img"
    title: "Basic ETL Pipeline"
    excerpt: "This project uses pandas and aws s3 bucket to perform a simple extract. load and transform operation"
  - image_path: images/puzzle.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Batch Processing"
    excerpt: "."
    url: "[Check the code here!!]"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: images/space.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    title: "Web Scrapping"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

